.banner{
background-image: url("https://firebasestorage.googleapis.com/v0/b/bybright-efa55.appspot.com/o/Portada%20%20(1).png?alt=media&token=9d85d7f3-9e7c-4b6e-915f-aa756d4ed995");
background-position: top center;
background-size: cover;
padding: 25%;
position: relative;
z-index: 1;
color: white;
background-attachment: fixed;

}

/*.banner::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: lightslategray;
    top: 0;
    left: 0;
    opacity: 0.5;
    z-index: -1;
}*/